<!-- Consulted from https://github.com/simonxca/mixmax-soundcloud-slash-command -->

<div style="
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 2px solid #6CCA00;
  border-radius: 2px;
  padding: 0.45rem;
">
  <a href="<% return data.url %>" target="_blank">
    <img style="
      height: 100px;
      border-radius: 2px;
    " src="<% return data.image %>">
  </a>
  <div style="
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 1rem;
  ">
    <div style="
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 445px;
    ">
      <a href="<% return data.url %>" target="_blank" style="
        text-decoration: none;
        color: rgb(33, 33, 33);
      ">
        <b><% return data.label %></b>
      </a>
    </div>
    <div style="
      font-size: 0.85rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 445px;
      color: gray;
    ">
      <i><%
        if (data.source) return data.source;
        return 'Edamam';
      %></i>
    </div>
    <br>
    <div>
      <span style="
        font-size: 0.9rem;
      ">Ingredients</span>
      <br>
      <div style="
        font-size: 0.6rem;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 445px;
      ">
        <%
          if (data.ingredientLines) return data.ingredientLines.join(', ');
          return 'No ingredients available.' 
        %>
      </div>
    </div>
  </div>
</div>