<div style="
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
">
  <img style="height:40px" src="<% return data.image %>">
  <div style="
    margin-left: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  ">
    <span>
      <% return data.label %>
    </span>
    <br>
    <span style="
      color: rgb(111, 111, 111);
      font-weight: 400;
      font-size: 0.9em;
    ">
      <%
        if (data.source) return data.source;
        return 'Edamam';
      %>
    </span>
  </div>
</div>